.blogpost-content {
  font-size: 80%;
}

.blogpost-content p{
  padding: 0.25em 0em;
}

.blogpost-header {
  overflow: hidden;
}

.blogpost-short-title {
  float: left;
}

.blogpost-short-date {
  float: right;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

.blogpost-short-href {
  border-bottom: 0 !important;
}