@media screen and (max-width: 3px) {
    .navigation-items li {
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .navigation-items li {
        padding: 0.25em;
    }
}
@media screen and (max-width: 600px) {
    * {
        font-size: 100%;
    }
    h2 {
        font-size: 120%;
    }
    .width3,
    .width2 {
        width: 80% !important;
        margin: 0 auto;
        padding-bottom: 0.25em;
    }
    .resume-photo {
        float: none;
        margin: 0 auto;
        display: block;
        width: 80% !important;
    }
    .side-navigation-bar {
        font-size: 100% !important;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    .side-navigation-bar {
        font-size: 80% !important;
    }
}
@media screen and (max-width: 750px) {
    .width3,
    .width2 {
        width: 55%;
    }
}
@media screen and (max-width: 800px) {
    .side-navigation-bar {
        width: 100%;
        float: none;
        position: static;
        border-top: 2px solid #100;
        border-right: 0;
        text-align: center;
        font-size: 90%;
    }
    .side-navigation-bar a,
    .side-navigation-bar li,
    .side-navigation-bar h2 {
        display: inline-block;
    }
    .side-navigation-bar a:hover {
        font-weight: bolder;
    }
    .side-navigation-bar a {
        padding: 0.5em 0.5em;
    }
    .side-navigation-items li:first-child {
        border-top: 0;
    }
    .main {
        margin-left: 0;
    }
    .box {
        width: auto !important;
        margin: 0.5em 0 !important;
    }
}
@media screen and (max-width: 90em) {
    .resume-photo {
        width: 50%;
    }
    .indented-list {
        padding-left: 0.5em;
    }
}
@media screen and (max-width: 100em) {
    .box {
        width: 40%;
        margin: 2.5% 2.5%;
    }
    .open-source-box {
        width: auto;
    }
}
@media screen and (min-width: 800px) {
    .side-navigation-items li:hover {
        background-color: #101015;
    }
}