html,
body {
    height: 100%;
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}
.side-navigation-bar {
    background-color: #193741;
    color: white;
    width: 20%;
    position: absolute;
    float: left;
    height: 100%;
    border-right: 2px solid #000;
}
.full-size {
    position: fixed;
    top: 0;
    bottom: 0;
}
.side-navigation-items li:first-child {
    border-top: 2px solid #100;
}
.side-navigation-items a {
    padding: 1em 0em 1em 1em;
    color: white;
    text-decoration: none;
    display: block;
}
.navigation-bar {
    text-align: center;
    background-color: #233237;
    color: white;
}
.navigation-bar a {
    color: white;
    text-decoration: none;
}
.navigation-bar a:hover {
    font-weight: bolder;
}
.main-content {
    position: absolute;
    min-height: 84.9%;
    width: 100%;
}
.navigation-bar-title {
    padding: 0.6em 0 0.5em 0;
    font-size: 2em;
}
.navigation-items li {
    display: inline-block;
    padding: 0.75em;
    font-size: 1.5em;
}
.main {
    margin-left: 20%;
    padding: 1.5% 1.5% 0 1.5%;
    font-size: 125%;
}
.main h1,
.main h2,
.main h3,
.main h4,
.main p {
    padding-bottom: 0.25em;
}
.main h4 {
    padding: 0.75em 0 0 0;
}
.column {
    padding-bottom: 0.5em;
}
li {
    list-style: none;
    padding: 0.1em 0em;
}
.column-title {
    font-size: 100%;
    display: inline-block;
    padding-right: 0.75em;
    min-width: 12%;
}
.column-text {
    display: inline;
}
h3,
h4 {
    font-weight: bold;
    color: #444;
}
.box h3 {
    font-weight: bold;
    padding-bottom: 0.1em;
}
.box li {
    font-size: 100%;
}
.box {
    margin: 0.75em;
    float: left;
    font-size: 75%;
    width: 29%;
}
.bordered-box {
    background-color: white;
    border: 1px dashed #ccc;
    padding: 0.5em 0.75em;
    font-size: 85%;
}
.open-source-box {
    width: 94.5%;
}
a {
    color: #0B3C5D;
    text-decoration: none;
}
.main a {
    border-bottom: dotted 1px #0B3C5D;
}
.main a:hover {
    font-weight: bolder;
}
.box span {
    font-weight: 600;
}
.resume-photo {
    float: right;
    width: 40%;
    border-radius: 3%;
}
.clear {
    clear: both;
}
.hidden-section {
    overflow: auto;
}
.main blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0.1em 10px 1em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 90%;
}
.main blockquote p {
    padding-bottom: 1em;
}
hr {
    margin: 1em 0;
}
#work-experience-section .box {
    float: none;
    width: auto;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc);
}
.indented-list {
    padding-left: 1.5em;
}
.content-list li .info-link {
    border-bottom: 0;
}
.bulleted-list li {
    list-style-type: square;
    list-style-position: inside;
}
.content-list li {
    padding: 0.5em 0em;
}
.info li {
    padding-bottom: 0.2em;
}
.screenshots {
    text-align: center;
    padding-bottom: 0.25em;
}
.screenshots img {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.width1 {
    width: 50%;
}
.width2 {
    width: 32%;
    margin: 0 auto;
}
.width3 {
    width: 30%;
}
.info {
    display: none;
}
.info h3 {
    padding-bottom: 0.25em;
}