@media (min-width: 768px) {
  .app-summary {
    flex: 1;
    min-width: 30%;
  }
}

.app-summary .app-header {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.app-summary .app-name {
  margin-right: 0.5rem;
}

.app-summary .app-name,
.app-summary .app-price {
  margin-top: 0;
  margin-bottom: 0.25rem;
}