.selected-project {
  margin: 1rem;
  margin-right: 2rem;
  font-size: 120%;
  flex-grow: 1;
  flex-shrink: 1;
}

.selected-project-section {
  margin-bottom: 1rem;
}

.selected-project-metadata {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.selected-project-metadata > div {
  width: 100%;
}

.selected-project .selected-project-links {
  float: right;
}

.selected-project .selected-project-links a {
  margin: 0.5rem;
}

.selected-project .selected-project-links a:hover {
  border: none;
}

.selected-project-screenshots {
  display: flex;
  width: 100%;
}

.selected-project-screenshots > div {
  flex: 1;
  margin-right: 1rem;
}

.selected-project-screenshots > div:last-child {
  margin-right: 0;
}

.selected-project-screenshots > div > img {
  max-width: 100%;
  max-height: 100%;
}

.selected-project h3,
.selected-project ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.selected-project li {
  padding-bottom: 0.75rem;
  padding-left: 0;
}

.selected-project-installation-instructions li {
  list-style: decimal;
}