.select-list {
  display: flex;
  flex-flow: wrap;
  align-content: center;
}

.select-list.has-selection {
  flex: 0 0 25%;
}

.select-list,
.select-list li {
  transition: all 1s;
}

@media (min-width: 768px) {
  .select-list:not(.has-selection) {
    margin-left: 12.5vw;
  }
}

.select-list li {
  margin: 1.5rem;
  font-size: x-large;
}

.select-list:not(.has-selection) li {
  margin: 4.5rem;
  min-width: 25%;
  max-width: 25%;
}

.select-list.has-selection li {
  min-width: 100%;
  max-width: 100%;
}

.select-list li a {
  position: relative;
}

.select-list li a:after {
  position: absolute;
  content: '';
  height: 3px;
  background: #d472bc;
  transition: all 0.25s linear;
  width: 0;
  left: 0px;
  bottom: -3px;
}

.select-list.has-selection li a:after {
  left: 100%;
}

.select-list li.selected a:after,
.select-list:not(.has-selection) li:hover a:after {
  width: 100%;
  left: 0;
}

.select-list li a {
  color: #333;
  text-decoration: none;
}

.select-list li a:hover {
  border: 0;
}