.select-list {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  flex: 0 0 75%;
  margin: 1rem;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .select-list li {
    min-width: 100%;
  }
}

@media (min-width: 725px) {
  .select-list {
    margin-bottom: 1rem;
  }

  .select-list.has-selection {
    flex: 0 0 25%;
  }
}

.select-list,
.select-list li,
.select-list li img {
  transition: all 1s;
}

.select-list li {
  margin: 1.5rem;
  font-size: large;
}

@media (min-width: 900px) {
  .select-list li {
    font-size: x-large;
  }
}

.select-list:not(.has-selection) li {
  margin: 5%;
  flex: 0 0 25%;
}

.select-list.has-selection li {
  flex: 0 0 100%;
}

.select-list li a {
  position: relative;
}

.select-list li a:after {
  position: absolute;
  content: '';
  height: 3px;
  background: #d472bc;
  transition: all 0.25s linear;
  width: 0;
  left: 0px;
  bottom: -3px;
}

.select-list.has-selection li a:after {
  left: 100%;
}

.select-list li.selected a:after,
.select-list:not(.has-selection) li:hover a:after {
  width: 100%;
  left: 0;
}

.select-list li a {
  color: #333;
  text-decoration: none;
}

.select-list li a:hover {
  border: 0;
}

.select-list li {
  display: flex;
  align-items: center;
}

.select-list li img {
  margin: 0 0.75rem;
  width: 75px;
  height: 75px;
  border-radius: 15px;
}

.select-list.has-selection li img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.select-list li a {
  flex: 1;
}