.work-summary {
  padding: 1rem;
}

.work-summary .work-header {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.work-summary .work-header:first {
  margin-right: 0.5rem;
}

.work-summary .work-header > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.work-summary .work-description {
  margin-top: 0.5rem;
}