.cv-page {
  font-size: 110%;
}

.cv-page .sidebar-right {
  margin-right: 2rem;
  margin-left: 1rem;
}

.cv-page .select-list {
  flex: 0 0 auto;
  flex-shrink: 1;
}

@media (max-width: 768px) {
  .cv-page {
    flex-flow: column;
  }

  .cv-page .sidebar-right {
    margin-right: 1rem;
  }

  .cv-page .select-list {
    padding: 0.25rem;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
    border-bottom: 1px solid #444;
  }

  .select-list.has-selection li {
    margin: 0.5rem;
    flex: 0 0 auto;
  }
}

.introduction-text > span {
  background-color: #F8CEDA;
}

.coding-apps {
  display: flex;
  flex-flow: wrap;
}

.coding-apps,
.coding-open-source,
.work-history {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.bordered-box {
  padding: 1rem;
  border: 1px dotted #444;
  border-radius: 10px;
  margin: 0.5rem;
}

.bordered-box hr {
  margin: 0 -1rem;
}

.academic-result {
  display: block;
  padding-top: 0.25rem;
  margin-left: 1rem;
}

.work-referees > p {
  margin-left: 0.75rem;
}