.cv-page {
  font-size: 130%;
  flex-direction: column !important;
  align-items: center;
}

.cv-page .cv-section-container {
  width: 100%;
}

.cv-page .cv-section-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  min-height: 40vh;
  padding: 1em 0;
}

.cv-section .cv-section-title {
  font-size: 2em;
  text-align: center;
}

#about-section {
  position: sticky;
  top: 0px;
  z-index: 1;
}

#coding-section {
  z-index: 2;
}

#open-source-section {
  z-index: 3;
}

#academic-section {
  z-index: 4;
}

#work-and-internships-section {
  z-index: 5;
}

#personal-details-section {
  z-index: 6;
}

#about-section,
#open-source-section,
#academic-section,
#work-and-internships-section {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#about-section,
#open-source-section .cv-section-title {
  color: #f0f0f0;
}

#about-section {
  background-color: #2D3E50;
  font-size: 110%;
}

#coding-section {
  background-color: #fafafa;
}

#open-source-section {
  background-color: #2d3e50;
  color: #e5e8ec;
}

#open-source-section a {
  color: #b68dac;
}

#academic-section,
#personal-details-section {
  background-color: #EFEFEF;
}

#work-and-internships-section  {
  background-color: white;
}

@media (min-width: 500px) {
  #work-and-internships-section .cv-details .cv-detail {
    min-width: 400px;
  }
}

#personal-details-section {
  text-align: center;
}

#personal-details-section h1 {
  color: #2d3e50;
}

#personal-details-section p {
  margin: 1em;
}

.cv-details {
  display: flex;
  flex-flow: wrap;
}

.cv-details .cv-detail {
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

@media (min-width: 300px) {
  .cv-details .cv-detail {
    min-width: 200px;
  }
}

.coding-apps-container {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: center;
  flex-flow: column;
}

@media (min-width: 725px) {
  .coding-apps-container {
    flex-flow: row;
  }
}

@media (max-width: 650px) {
  .select-list.coding-apps {
    flex-flow: column;
  }

  .select-list.coding-apps:not(.has-selection) .select-list-item {
    margin: 0.75rem;
  }
}


@media (min-width: 650px) {
  .select-list.coding-apps:not(.has-selection) .select-list-item {
    margin: 1.5rem;
  }
}

.select-list.coding-apps {
  margin: 0;
}

.select-list.coding-apps:not(.has-selection) {
  flex: 0 0 100%;
}

.select-list.coding-apps:not(.has-selection) .select-list-item {
  flex: 0 0 auto;
}

.select-list.coding-apps.has-selection .select-list-item {
  margin-left: 0;
}

.app-summary {
  flex-grow: 1;
  flex-shrink: 1;
}

.cv-section-hidden {
  display: none;
}
